# Ambiente virtual do Python
venv/

# Cache do Python
*.pyc
__pycache__/

# Arquivo de segredos e chaves de API
.env

# Arquivo do banco de dados local
#removendo o que não estava deixando subir o banco de dados
